header {
  background-color: #34b8d3;
}

header a, header a:visited, header a:active {
  color: white;
}

header a:hover{
  color: lightgray;
}

header ul{
  display: flex;
  margin: 0;
  padding: 0;
}
